# Terraform directories
.terraform/

# Lock file 
.terraform.lock.hcl

# State files 
*.tfstate
*.tfstate.backup

# Variable files 
*.tfvars

# Override files
override.tf
override.tf.json

# Crash logs
crash.log
crash.*.log

# AWS credentials
*.pem
*.key